<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/styles.css">

         <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
         <title>Welcome </title>
   </head>
   <body>
    h1>{{.PageTitle}}</h1>
    <ul>
        {{range .Fruit}}
            
                <li>{{.Title}}</li>
        {{end}}
    </ul>
    </ul>      <div class="welcome center">Welcome {{.Name}}, it is {{.Time}}</div>
   </body>
</html>